# Python byte-compiled, optimized, and DLL files
__pycache__/
*.py[cod]
*$py.class

# pydoc output
*.html

# Input/output file directories (do NOT post any church data into GitHub)
attendance_data_files/
membership_data_files/

# Mac caches file directory icon
.DS_Store
